.imgpage{
    height: 58px;
    width: 74px;
}
.thumbnail {
    width: 100px;
    height: 100px; 
    overflow: hidden; 
    border: 1px solid #e5e5e5; 
}
 
/* Thumbnail */
.thumbnail img {
    width: 100%; 
    height: 100%;  
    transition-duration: 0.5s;
        /* Safari & Google Chrome */
        -webkit-transition-duration: 0.5s; 
        /* Mozilla Firefox */
        -moz-transition-duration: 0.5s; 
        /* Opera */
        -o-transition-duration: 0.5s;
        /* IE 9 */
        -ms-transition-duration: 0.5s;
}
         
/* Hover chuột vào thumbnail */
.thumbnail img:hover {
    transform: scale(1.2);
        /* Safari & Google Chrome */
        -webkit-transform: scale(1.2);
        /* Mozilla Firefox */
        -moz-transform: scale(1.2); 
        /* Opera */
        -o-transform: scale(1.2);
        /* IE 9 */
        -ms-transform: scale(1.2);
    cursor: pointer; 
}

#over {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}
a, a:visited, a:active{
    text-decoration:none;
}
.login
{
    background-color:#70809a;
    height:auto;
    width: 220px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
    padding-bottom:5px;
    display:none;
    overflow:hidden;
    position:absolute;
    z-index:99999;
    top:10%;
    left:50%;
    margin-left: 320px;
    border-radius: 17px;

}
 
.login .login_title
{
    color:white;
    font-size:16px;
    padding:8px 0 5px 8px;
    text-align:left;
}
 
.login-content label {
    display: block;
    padding-bottom: 7px;
}
 
.login-content span {
    display: block;
}
.login-content
{
    padding-left:35px;
    background-color:white;
    margin-left:5px;
    margin-right:5px;
    height:auto;
    padding-top:15px;
    overflow:hidden;
    margin-top: 7px;
    border-radius: 22px;
}
 
.img-close {
    float: right;
    margin-top:-43px;
    margin-right:5px
}
.button{
    display: inline-block;
    min-width: 46px;
    text-align: center;
    color: #444;
    font-size: 14px;
    font-weight: 700;
    height: 39px;
    padding: 0px 8px;
    line-height: 36px;
    border-radius: 4px;
    transition: all 0.218s ease 0s;
    border: 1px solid #DCDCDC;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    cursor: pointer;
}
.button:hover{
     border: 1px solid #DCDCDC;
    text-decoration: none;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
.login input
{
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.07) inset;
    color: black;
    font: 12px/25px "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 39px;
    padding: 0px 8px;
    word-spacing: 0.1em;
    width: 100px;
}
/* .submit-button{
    display: inline-block;
    padding: auto;
    margin: 15px 75px;
    width: 59px;
    height: -66px;
    margin-left: 17px;
} */
#overlay {
    position: fixed;
    top: 0;
    width: 37%;
    height: 75%;
    background: rgba(0, 0, 0, 0) none 100% / contain no-repeat;
    cursor: pointer;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}
#overlay.open {
    visibility: visible;
    opacity: 1;
}

#overlay:after {
    /* X button icon */
    content: "\2715";
    position: absolute;
    color: #fff;
    top: 10px;
    right: 20px;
    font-size: 2em;
}